


body {
  margin: 0;
  background-image: url("https://i.pinimg.com/originals/e1/cd/03/e1cd037aff34ae3aca86e0c6b68b0a2d.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



  
/* Стилизация даты и времени */
div1 {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
}

#currentDateTime {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 16px;
  font-family: "Courier New", monospace;
  color: #16bacf;
  text-align: right;
}




  body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 99vh;
  }
  
  
  @keyframes gradient-border {
    0% {
      border-image: linear-gradient(45deg,  #33b6d8ff, #008cff, #8400ff, #17dbd1, #0000ff, #8b00ff, #33b6d8ff) 1;
    }
    16.67% {
      border-image: linear-gradient(45deg, #008cff #8400ff, #17dbd1, #0000ff, #8b00ff,  #33b6d8ff, #008cff) 1;
    }
    33.33% {
      border-image: linear-gradient(45deg, #8400ff, #17dbd1, #0000ff, #8b00ff,  #33b6d8ff, #008cff, #8400ff) 1;
    }
    50% {
      border-image: linear-gradient(45deg, #17dbd1, #0000ff, #8b00ff, #33b6d8ff, #008cff, #8400ff, #17dbd1) 1;
    }
    66.67% {
      border-image: linear-gradient(45deg, #0000ff, #8b00ff,  #33b6d8ff, #008cff, #8400ff, #17dbd1, #0000ff) 1;
    }
    83.33% {
      border-image: linear-gradient(45deg, #8b00ff,  #33b6d8ff, #008cff, #8400ff, #17dbd1, #0000ff, #8b00ff) 1;
    }
    100% {
      border-image: linear-gradient(45deg,  #33b6d8ff, #008cff, #8400ff, #17dbd1, #0000ff, #8b00ff,  #33b6d8ff) 1;
    }
  }
  
   body {
    border: 5px solid;
    border-image-slice: 1;
    animation: gradient-border 1s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
 
   #assistantButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #0b0c0c;
    color: #000000;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #assistantButton img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
  
  
  #assistantButton:hover {
    background-color: #000000;
  }
  
  
  p {
    color: #33b6d8ff;
    border: 2px solid;
    border-image: linear-gradient(45deg, #33b6d8ff, #00396eff, #33b6d8ff);
    border-image-slice: 1;
    overflow: auto;
    max-height: 50vh;
    align-self: flex-end;
    font-family: "Oswald", Arial, sans-serif; 
  }
  
  
  @media screen and (max-width: 800px) {
    button, p {
      width: 100%;
      margin-left: 0;
    }
  
    p {
      font-size: 3vh;
    }
  }
  
  @keyframes button_anim {
    from {
      opacity: 1;
    }
    to {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
  }
  #div2 {
    position: fixed;
    top: 15px;
    right: 15px;
}

#status-text {
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 10px;
}

#status-icon {
  position: fixed;
  top: 30px;
  right: 20px;
}

.custom-icon {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 10px;
  left: 10px;
}

